<!DOCTYPE HTML>
<html>
<head>
    <title>CD Jukebox</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';
            var slider1
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

			$(".mySlider1").change(function() {
            var sVal = $(this).val();
            socket.emit('ValSlider1', sVal);
            });

            $(".selectChange").change(function() {
            var albumVal = $(this).val();
            socket.emit('AlbumSelect', albumVal);
            });

            socket.on('ValSlider1Change', function(msg){
            document.getElementById("ValVolume").innerHTML =   msg.data;
            document.getElementById("slider1").value =   parseInt(msg.data);
            });

            socket.on('AlbumCoverCurrent', function(msg){
            document.getElementById("LayerCurrent").src = msg.data
            });

           socket.on('AlbumCoverPrevious', function(msg){
            document.getElementById("LayerPrevious").src = msg.data
            });

           socket.on('AlbumCoverNext', function(msg){
            document.getElementById("LayerNext").src = msg.data
            document.getElementById("ValVolume").innerHTML = msg.data
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
                return false;
            });
            $('form#join').submit(function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
            $('form#leave').submit(function(event) {
                socket.emit('leave', {room: $('#leave_room').val()});
                return false;
            });
            $('form#platine').submit(function(event) {
                socket.emit('platine');
                return false;
            });
            $('form#cd').submit(function(event) {
                socket.emit('cd');
                return false;
            });
            $('form#power').submit(function(event) {
                socket.emit('power');
                return false;
            });
            $('form#volmoins').submit(function(event) {
                socket.emit('volmoins');
                return false;
            });
            $('form#volplus').submit(function(event) {
                socket.emit('volplus');
                return false;
            });
            $('form#disqueplus').submit(function(event) {
                socket.emit('disqueplus');
                return false;
            });
            $('form#disquemoins').submit(function(event) {
                socket.emit('disquemoins');
                return false;
            });
        });
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>





<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <center>
                <div class="row">
                    <div  class="col-xs-4 " ><h1><form id="power" method="POST" action='#'><input type="submit" class="astext" value="g"/></form></h1></div>
                    <div  class="col-xs-4 "><h1><form id="cd" method="POST" action='#'><input type="submit" class="astext" value="j"/></form></h1></div>
                    <div  class="col-xs-4 "><h1><form id="platine" method="POST" action='#'><input type="submit" class="astext" value="k"/></form></h1></div>
                </div>
            </center>
        </div>

        <div class="panel-body">
            <center>
                <div class="row">
                    <button class="astext">a</button><button class="astext">f</button>
                </div>
                <div class="row">
                    <select class="selectChange">
                        {% for album in listAlbums %}
                        <option value="{{ album.JukeboxID }}">{{ album.Artist }} - {{ album.Title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <center>
                        <div class="col-xs-4 text-center pagination-centered vcenter">
                            <center>
                                <div>Previous Album Artist</div>
                                <img id="LayerPrevious" name="yyy" src="" class="img-responsive img-rounded" width="75" height="75" alt="" />
                            </center>
                            <div>Previous Album</div>
                        </div>
                        <div class="col-xs-4 text-center pagination-centered vcenter">
                            <center>
                                <div>
                                    <img id="LayerCurrent" name="PochetteCurrent" src="" class="img-responsive img-rounded" width="125" height="125" alt="" />
                                </div>
                            </center>
                        </div>
                        <div class="col-xs-4 text-center pagination-centered vcenter">
                            <center>
                                <div>Next Album Artist</div>
                                <img id="LayerNext" name="yyy" src="" class="img-responsive img-rounded" width="75" height="75" alt="" />
                                <div>Next Album</div>
                            </center>
                        </div>
                    </center>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4"><h2><form id="disquemoins" method="POST" action='#'><input type="submit" class="astext" value="m "/></form></h2></div>
                    <div class="col-xs-4" style="padding:0px">
                        <div class="short-div"><p id="ValSlider1"> Now Playing: </p></div>
                        <div class="short-div"><p id="ValSlider1"> Artist-Release </p></div>
                    </div>
                    <div class="col-xs-4"><h2><form id="disqueplus" method="POST" action='#'><input type="submit" class="astext" value="l"/> </form></h2></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4"><h2><form id="volmoins" method="POST" action='#'><input type="submit" class="astext" value="m "/></form></h2></div>
                    <div class="col-xs-4" style="padding:0px">
                        <div class="short-div"><p id="ValVolume"> Curr Val </p></div>
                        <div class="short-div"><input id="slider1" class = "mySlider1" type="range" min="0" max="100" /></div>
                    </div>
                    <div class="col-xs-4"><h2><form id="volplus" method="POST" action='#'><input type="submit" class="astext" value="l"/> </form></h2></div>
                </div>
            </center>
            <div class="panel-footer ">
                <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
        <div class="col-md-4 text-center pagination-centered vcenter">
            <div>asd
            </div>
        </div>
        <div class="col-md-4 text-center pagination-centered vcenter">

                <div>
asd<br />asdl
                </div>

        </div>
        <div class="col-md-4 text-center pagination-centered vcenter">
            <div>asd
            </div>
        </div>
</div>-->


</body>
</html>
